<div class="marketing">
	<div class="marketing-head">
		<h2>Social media statistics that don't suck!</h2>
		<p>&nbsp;</p>
		<div class="pull-left span3 offset1">
			<%= image_tag "social-media-hero.png", :alt => "Juggling social media!" %>
		</div>
		<div class="pull-right span6">
			<h3>Monitor your contents virality<br> on social media.</h3>
			<p class="span10">
				You want to know how your content performs on social media? But you are still counting likes by hand?
			</p>
			<p class="span10">
				Use SocialMonitor hand have the relevant statistics at your fingertips... for all of your content!
			</p>
			<p class="span10">
				<%= link_to('<button class="btn btn-info btn-large">Signup now</button>'.html_safe, new_user_registration_path) %>
			</p>
		</div>
		<div style="clear:both;">&nbsp;</div>
	</div>

	<div class="marketing-summary">
		<p><span class="icon-bar-chart"></span> SocialMonitor allows you to aggregate statistics about your contents virability on Facebook, Twitter, LinkedIn and Google+</p>
	</div>
	<hr>
	<div class="row-fluid">
		<div class="span4">
			<h3>Easy</h3>
			<p>
				No need to write code or change your files. Simply enter your website address and our scraping ninjas will discover your content automatically.
			</p>
		</div>

		<div class="span4">
			<h3>Automated</h3>
			<p>
				Your statistics will be calculated automatically. Gone are the days where you counted your likes and tweets manually.
			</p>
		</div>

		<div class="span4">
			<h3>Build for content</h3>
			<p>
				We discover every piece of content automatically. Whether you are a newspaper or a small blog, our content ninjas are there to assist.
			</p>
		</div>
	</div>
	<div style="clear:both;"></div>
	<hr>
	<div class="marketing-summary">
		<p>
			Wanna try out SocialMonitor?<br> <%= link_to('Sign Up', new_user_registration_path) %>, the 20 first pages are free!
		</p>
	</div>
</div>