<% if user_signed_in? -%>
<ul class="nav pull-right">
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="icon-user"></span> <%= current_user.email %></a>
		<ul class="dropdown-menu">
			<li class="nav-header">Account</li>
			<li><a href="/account">My Account</a></li>
			<li class="divider"></li>
			<li><a href="/users/sign_out" data-method="delete" rel="nofollow">Logout</a></li>
		</ul>
	</li>
</ul>
<% else -%>
	<%= form_for("user", :url => user_session_path, :html => { :class => "navbar-form pull-right"}) do |f| %>
		<div class="input-prepend">
		  <span class="add-on"><span class="icon-user"></span></span>
		  <%= f.text_field :email, :placeholder => "E-Mail", :class => "input-medium" %>
		</div>
		<div class="input-prepend input-append">
		  <span class="add-on"><span class="icon-key"></span></span>
		  <%= f.password_field :password, :placeholder => "Password", :class => "input-small" %>
		  <button type="submit" class="btn">Sign In</button>
		</div>
	<% end -%>
<% end -%>