<h1>Help</h1>
<p>
	This section will be filled as soon as we get questions by you, our users.
</p>
<!--<div class="row-fluid">
	<div class="span3 offset1">
		<strong>Question #1</strong>
	</div>

	<div class="span8">
		Reply #1
	</div>
</div>-->